
html {
  background-color: black;
}
body {
  font-family: 'Raleway', sans-serif;
  font-smoothing: antialiased;
}

.index-wrap {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: abolute;
  overflow: hidden;
}

.container-fluid {
  padding: 0;
}

div.container {
  padding: 0;
}



header h1 {
  display: inline-block;
  font-size: 5rem;
  z-index: 5000;
  padding-left: 25px;
  margin-bottom: 25px;
}

a {
  color: white;
  transition: .5s;
}

a:hover {
  text-decoration: none;
  color: #81f1e3;
  opacity: .5;
}

ul {
  padding: 0;
  display: inline-block;
}


header h3 {
  display: block;
  text-align: left;
}

/* MENU STYLES */

#camera_menu_click {
  display: inline-block;
  margin: 20px 0 10px 0;
  padding-right: 25px;
  height: 37.5px;
  float: right;
}

#camera_menu_click:hover {
  cursor: pointer;
}

#menu_display {
  height: 100vh;
  width: 100vw;
  display: none;
  z-index: 500;
  background-color: black;
  opacity: .85;
  color: white;
  position: absolute;
}

ol#menu {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

ol#menu li {
  display: block;
  /*padding-left: 25px;*/
}

ol#menu li a {
  color: white;
  font-size: 3rem;
  position: relative;
  right: 6px;
}

#menu_close {
  display: block;
  margin: 20px 0 10px 0;
  padding-right: 25px;

  height: 37.5px;
  float: right;
}

#menu_close:hover {
  cursor: pointer;
}

.menu-row {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 0;
}

.photo {
  height: 75vh;
}

/* ---- PEOPLE . HTML STYLINGS --*/

.people-wrap a {
  color: white;
}

.people-wrap a:hover {
  color: #81f1e3;
}

.people-wrap div.col-sm-12 {
  padding: 0;
}

.people-wrap {
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.photo img {
  height: 100%;
  width: auto;
}

.photo1 {
  background-color: white;
  padding: 25px 25px;
}

.photo1 img {
  margin: 0 auto;
}
.photo2 {
  background: url('../img/speckles.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px 25px;
}

.people {
  margin-top: 25px;
  position: relative;
}

.people-wrap button.slick-next:before,
.people-wrap button.slick-prev:before {
  color: white;
}


/* ---- PLACE . HTML STYLINGS --*/

.place-wrap {
  background-color: black;
  height: 100vh;
}

.place-wrap a {
  color: white;
}

.place-wrap a:hover {
  opacity: 1;
}
/*

.place-wrap div.col-sm-12 {
  padding: 0;
}

.place-wrap button.slick-next:before,
.place-wrap button.slick-prev:before {
  color: blue;
}

.place-wrap .photo2 {
  background: blue;

  background-color: blue;
}

.place-wrap .photo1 {
  background-color: rgba(0,0,255, .65);
/*}

/* ---- THING . HTML STYLINGS --*/


.thing-wrap {
  background-color: black;
  height: 100vh;
}

.thing-wrap a {
  color: white;

}

.thing-wrap a:hover {
  opacity: 1;
}
/*
.thing-wrap div.col-sm-12 {
  padding: 0;
}

.thing-wrap button.slick-next:before,
.thing-wrap button.slick-prev:before {
  color: rgb(0,153,0);
}

.thing-wrap .photo2 {
  background: green;
}

.thing-wrap .photo1 {
  background-color: rgba(0,153,0, .65);
}*/

/* ---- CLIENT . HTML STYLINGS --*/


.client-wrap {
  background-color: black;
  height: 100vh;
}

.client-wrap a {
  color: white;
}


/*

.client-wrap div.col-sm-12 {
  padding: 0;
}

.client-wrap button.slick-next:before,
.client-wrap button.slick-prev:before {
  color: rgb(0,0,0);
}

.client-wrap .photo2 {
  background: black;
}

.client-wrap .photo1 {
  background-color: rgba(0,0,0, .65);
}*/

/* ---- ABOUT . HTML STYLINGS --*/

.about-wrap {
  background-color: black;
  height: 100vh;
}

.about-wrap .row-about {
  margin-top: 50px;
}

.about-wrap h3:nth-child(2) {
  margin-top: 25px;
  display: inline-block;
}
.about-wrap h3,
.about-wrap h4 {
  margin: 0;
}

.about-wrap h6 {
  margin-top: 50%;
}

.about-wrap div.col-xs-12,
.about-wrap div.container-fluid,
.about-wrap div.container {
  padding: 0;
}

.about-wrap #camera_menu_click {
  display: inline-block;
}

.about-wrap a {
  color: white;
}

.about-wrap a:hover {
  opacity: red;
}

.about-wrap div.col-sm-12 {
  padding: 0;
}

.about-wrap div.col-xs-6.jrock {

  height: 75vh;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: rgb(0,0,0);
}












@media screen and (max-width: 600px) {
  ol#menu li a {
    color: white;
    font-size: 2rem;
  }
}

@media screen and (max-width: 800px) {


  ol#menu li {
    right: 0;
    padding-left: 50px;
  }

  .people {
    margin: 0 35px;
  }

  #menu_display {
    padding: 0;
  }

}
