body {
  color: cornsilk;
  font-family: 'Libre Baskerville', serif;
  font-smoothing: antialiased;
}

.index-wrap {
  /*background-image: url('../img/backexample.jpg');*/
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

header h1 {
  font-size: 5rem;
}

a {
  color: white;
  transition: .5s;
}

a:hover {
  text-decoration: none;
  color: red;
}

ul {
  padding: 0;
  display: inline-block;
}


header h3 {
  display: block;
  text-align: left;
}

/* MENU STYLES */

#camera_menu_click {
  display: block;
  margin: 20px 0 10px 0;
  padding-right: 25px;
  height: 37.5px;
  float: right;
}

#camera_menu_click:hover {
  cursor: pointer;
}

#menu_display {
  height: 100%;
  width: 100%;
  display: none;
  z-index: 500;
  background-color: black;
  opacity: .95;
  color: white;
  position: absolute;
}

ol#menu {
  padding: 0;
  display: inline-block;
}

ol#menu li {
  display: inline-block;
  padding: 25px 45px;
}

ol#menu li a {
  color: white;
  font-size: 4rem;
}

#menu_close {
  display: block;
  margin: 20px 0 10px 0;
  padding-right: 25px;

  height: 37.5px;
  float: right;
}

#menu_close:hover {
  cursor: pointer;
}

.menu-row {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.photo {
  height: 75vh;
}

/* ---- PEOPLE . HTML STYLINGS --*/

.people-wrap a {
  color: red;
  opacity: .75;
}

.people-wrap a:hover {
  opacity: 1;
}

.people-wrap div.col-sm-12 {
  padding: 0;
}

.people-wrap {
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.photo img {
  height: 100%;
  width: auto;
}

.photo1 {
  background-color: rgba(255,0,0, .75);
  padding: 25px 25px;
}

.photo1 img {
  margin: 0 auto;
}
.photo2 {
  background: url('../img/speckles.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px 25px;
}

.people {
  margin-top: 25px;
}

.people-wrap button.slick-next:before,
.people-wrap button.slick-prev:before {
  color: red;
}


/* ---- PLACE . HTML STYLINGS --*/

.place-wrap {
  background-color: #ff7f7f;
  height: 100vh;
}

.place-wrap a {
  color: blue;
  opacity: .65;
}

.place-wrap a:hover {
  opacity: 1;
}

.place-wrap div.col-sm-12 {
  padding: 0;
}

.place-wrap button.slick-next:before,
.place-wrap button.slick-prev:before {
  color: blue;
}

.place-wrap .photo2 {
  background: blue;

  background-color: blue;
}

.place-wrap .photo1 {
  background-color: rgba(0,0,255, .65);
}

/* ---- THING . HTML STYLINGS --*/


.thing-wrap {
  background-color: white;
  height: 100vh;
}

.thing-wrap a {
  color: rgb(0,153,0);
  opacity: .65;
}

.thing-wrap a:hover {
  opacity: 1;
}

.thing-wrap div.col-sm-12 {
  padding: 0;
}

.thing-wrap button.slick-next:before,
.thing-wrap button.slick-prev:before {
  color: rgb(0,153,0);
}

.thing-wrap .photo2 {
  background: green;
}

.thing-wrap .photo1 {
  background-color: rgba(0,153,0, .65);
}

/* ---- CLIENT . HTML STYLINGS --*/


.client-wrap {
  background-color: lightgrey;
  height: 100vh;
}

.client-wrap a {
  color: rgb(0,0,0);
}

.client-wrap a:hover {
  opacity: .65;
}

.client-wrap div.col-sm-12 {
  padding: 0;
}

.client-wrap button.slick-next:before,
.client-wrap button.slick-prev:before {
  color: rgb(0,0,0);
}

.client-wrap .photo2 {
  background: black;
}

.client-wrap .photo1 {
  background-color: rgba(0,0,0, .65);
}

/* ---- ABOUT . HTML STYLINGS --*/

.about-wrap {
  background-color: black;
  height: 100vh;
}

.about-wrap a {
  color: white;
}

.about-wrap a:hover {
  opacity: red;
}

.about-wrap div.col-sm-12 {
  padding: 0;
}

.about-wrap h4 {
  margin-top: 50px;
}
